<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Arena Torneios</title>
  <link rel="shortcut icon" href="/logo.png">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <!--testando um ngç -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <style>
      .descricao {
    height: 150px;
    margin-top: 30px;
    background-color: #333361;
    padding: 20px;
    text-align: justify;
}

.formaCompeticao{
    background-color: #333361;
    padding: 10px;
}

.times{
    background-color: #202028;
    height: 410px;
    padding: 40px;
}

.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
   }
   
   .input {
    height: 40px;
    line-height: 28px;
    padding: 0 1rem;
    padding-left: 2.5rem;
    border: 2px solid transparent;
    border-radius: 4px;
    outline: none;
    background-color: #f3f3f4;
    color: #0d0c22;
    transition: .3s ease;
    width: 100%;
   }
   
   .input::placeholder {
    color: #9e9ea7;
   }
   
   .input:focus, input:hover {
    outline: none;
    border-color: rgba(234,76,137,0.4);
    background-color: #fff;
    box-shadow: 0 0 0 4px rgb(234 76 137 / 10%);
   }
   
   .icon {
    position: absolute;
    left: 1rem;
    fill: #9e9ea7;
    width: 1rem;
    height: 1rem;
   }   

   .mensagem{
    text-align: center;
    margin-top: 100px;
   }

.imagem{
    width: 130px;
    height: 125px;
    border-radius: 5px;
    background-color: white;

}

.info{
    padding: 10px;
    background-color: #333361;
}

.fundoimagem{
    background-color: #333361;
    height: 160px;
    padding: 20px;
}

.custom-text{
  color: #ccf03b;
}

  #overlay200 {
    display: none;
    /* Inicia oculto */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 348px;
    height: 273px;
    background-color: #161642;
    padding: 60px;
  }

<<<<<<< HEAD
  
=======
  #overlayUsuario {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
  }
>>>>>>> 4ecd591588e631e2020a3610b42dbebc4c2a1d0b
</style>
</head>

<body style="background-color: #0d0d26;">
  <nav class="navbar navbar-expand-lg" style="background-color: #040428;">
    <div class="container-fluid">
      <a class="navbar-brand" style="margin-left: 15px;" href="/">
        <img src="/logo.png" alt="Logo" width="68" height="71" class="d-inline-block align-text-top">
      </a>
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-md-2" style="margin-top: 20px;" >
            <div class="custom-text">
              <a href="/campeonato">
                <b> Meus Campeonatos </b></a>
            </div>
          </div>
          <div class="col-md-1">
            
                <img style="border-radius: 50%;
                overflow: hidden; cursor: pointer;" id="openFormButton" src="<%=usuario.selectedAvatar%>" width="80px" height="80px" alt="avatar">
        
              
          </div>
        </div>
      </div>
      
    </div>
  </nav>
  <div class="container-xxl" style="margin-top: 20px;">
  <div class="group">
    <svg class="icon" aria-hidden="true" viewBox="0 0 24 24"><g><path d="M21.53 20.47l-3.66-3.66C19.195 15.24 20 13.214 20 11c0-4.97-4.03-9-9-9s-9 4.03-9 9 4.03 9 9 9c2.215 0 4.24-.804 5.808-2.13l3.66 3.66c.147.146.34.22.53.22s.385-.073.53-.22c.295-.293.295-.767.002-1.06zM3.5 11c0-4.135 3.365-7.5 7.5-7.5s7.5 3.365 7.5 7.5-3.365 7.5-7.5 7.5-7.5-3.365-7.5-7.5z"></path></g></svg>
    <input placeholder="Search" type="search" class="input">
    <img src="/botao+.png" height="45px" style=" margin-left: 25px; cursor: pointer;" id="criarcampeonato">
  </div></div>
    <br>

    <div class="container-xxl" style=" height: 490px; padding: 3px; background-color: #19192C; justify-content: center; align-items: center;  margin-bottom: 20px;">
      <div class="container">
          <div class="row align-items-start" style="color: white; background-color: #2C2C4A; padding: 10px;">
            <div class="col-md-2" style="text-align: center;">
              Campeonato
            </div>
            <div class="col-md-3" style="text-align: center;">
              Nome
            </div>
            <div class="col-md-3">
              Forma de Competição
            </div>
            <div class="col">
              Quantidade de times
            </div>
          </div>
        </div>
        <% if (campeonato.length> 0) { %>
          <% campeonato.forEach((campeonato, i)=> { %>

            <div class="row" style="background-color: #22223d; padding: 10px; color: white;">
              <div class="col-md-2" style="text-align: center;">
                <%= i+1 %>
              </div>
              <div class="col-md-3" style="text-align: center;">
                <a href="/campeonato/exibirCampeonato/<%=campeonato.id%>">
                  <%= campeonato.nome %>
                </a>
              </div>
              <div class="col-md-2" style="text-align: center;">
                <%= campeonato.forma_competicao %>
              </div>
              <div class="col" style="text-align: center;">
                <%= campeonato.quantidade_times %>
              </div>
              
              <div class="col-md-1">
                <a href="/campeonato/editar-campeonato/<%=campeonato._id%>">
                  <button type="submit" class="btn btn-warning">
                    Editar
                  </button>
                </a>
                </div>
                <div class="col-md-1">
                  <form method="POST" action="/campeonato/<%=campeonato.id%>?_method=DELETE"
                    onsubmit="return confirm('Tem certeza que deseja excluir o campeonato?');">
                    <button type="submit" class="btn btn-danger">
                      Excluir
                    </button>
                  </form>
                
                </div>
            </div>
            <% }); %>
              <% } else { %>
                <p style="color: white; font-size: 24px; margin-top: 250px; text-align: center;">Ainda não há Campeonatos</p>
                <% } %>
      </div>




  <style>
    #overlay {
      display: none;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      align-items: center;
      justify-content: center;
    }

    #overlay-content {
      background-color: #161642;
      padding: 70px;
    }
  </style>



  <div id="overlay">
    <div class="container text-light col-lg-3 position-absolute" style="margin-top: 40px; width: 1196px; height: 491px; background-color:
           #161642; padding: 70px; ">
      <img id="janelafechar" src="/x.png" alt="Fechar"
        style="position: absolute; top: 10px; right: 10px; width: 25px; height: 25px; cursor: pointer;">
      <form method="post" action="/campeonato/criar-campeonato">
        <div class="perfil d-flex align-items-center ">
          <img src="/trofeubranco.png" alt="troféu">
          <h1 class="mb-0 ms-3">Novo Campeonato</h1>
        </div><br>
        <hr style="opacity: 100%;">
        <div class="container">
          <div class="row ">
            <div class="col">
              <form>
                <div class="mb-3">
                  <label class="form-label">Nome:</label>
                  <input name="nome" id="nome" type="text" class="form-control" aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Forma de Competição:</label>
                  <input name="forma_competicao" id="forma_competicao" type="text" class="form-control"
                    aria-describedby="emailHelp" required>
                </div>
                <div class="mb-3">
                  <label class="form-label">Premiação:</label>
                  <input type="text" id="premiacao" name="premiacao" class="form-control" required>
                </div>
            </div>
            <div class="col">
              <label  class="form-label">Quantidade de times:</label>
              <select type="number" id="quantidade_times" name="quantidade_times" class="form-select"
                aria-label="Default select example">
                <option selected>Selecione a quantidade de times</option>
                <option value="4">4</option>
                <option value="8">8</option>
                <option value="16">16</option>
              </select>
              <br>
              <label  class="form-label">Descrição:</label>
              <div class="form">
                <textarea id="descricao" name="descricao" class="form-control" style="height: 100px;"></textarea>
              </div><br>
              <div class="d-grid gap-2 col-12 mx-auto">
                <a href="/campeonato/<%campeonato._id%>"><button class="btn btn-warning" type="submit" id="timesad"
                    style="color: #4d3601; --bs-btn-hover-bg: #A57300;">
                    <b>ADICIONAR</b></button></a>
              </div>
              </div>
            </div>
        </form>
    </div>
  </div>
</div>
                <!--  Excluir Campeonato -->
                <div id="overlay200">
                  <div class="container text-light col-lg-3 position-relative"
                    style="margin-top: 40px; width: 348px; height: 273px; background-color:
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                #161642; padding: 60px; ">
                    <img id="janelafechar2" src="/x.png" alt="Fechar"
                      style="position: absolute; top: 10px; right: 10px; width: 25px; height: 25px; cursor: pointer;">
                    <form method="POST" action="/campeonato/<%=campeonato.id%>?_method=DELETE"
                      onsubmit="return confirm('Tem certeza que deseja excluir o campeonato?');">
                      <button type="submit" class="btn btn-danger">
                        Excluir
                      </button>
                    </form>
                  </div>
                </div>

</body>
</div>


<!--TELAS SÓ DE USUÁRIO-->

<!--   MOSTRAR OPÇÕES DE USUÁRIO   -->

<div id="overlayUsuario" style="display: none">
  <div class="container text-light col-lg-3 position-relative" style="margin-top: 40px; width: 420px; height: 480px; background-color:
     #161642; padding: 70px; ">
     <img id="fecharJanela" src="/x.png" alt="Fechar" style="position: absolute; top: 10px; right: 10px; width: 25px; height: 25px; cursor: pointer;">
    <form>
      <div class="perfil text-center">
          <img style="border-radius: 50%;
          overflow: hidden;" src="<%=usuario.selectedAvatar%>" alt="Foto de Perfil">
        </div><br>
      <legend class="text-center" style="margin-top: -25px; font-size: 30px;"><b><%=usuario.nome%></b></legend>
      <hr style="opacity: 100%;">
      <legend class="text-center" style="font-size: 13px;"><%=usuario.email%></legend><br>
      <hr style="opacity: 100%;"><br>
      <div class="d-grid gap-2 col-12 mx-auto">
        <button class="btn btn-warning" type="button" id="usuario" style="color: #4d3601; --bs-btn-hover-bg: #A57300;">
          <b>EDITAR</b></button>
      </div><br>
      <div class="d-grid gap-2 col-12 mx-auto">
          <a href="/logout">
            <button class="btn btn-light sair" type="button" id="usuarioSair" name="usuarioSair" style="color: #2b2b2b; --bs-btn-hover-bg: #828282;">
              <b>SAIR</b></button>
          </a>
      </div>
    </form>
  </div>
</div>
<style>
  .avatar-gallery {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
  }

  .avatar:hover {
    border: 2px solid #ccf03b; 
  }
</style>

<!--EDITAR USUÁRIO-->
<div id="overlayEditarUsuario" style="display: none;">
  <div class="container text-light col-lg-3 position-relative" style="margin-top: 40px; width: 420px; height: 600px; background-color:
     #161642; padding: 40px; ">
     <img id="fechar" src="/x.png" alt="Fechar" style="position: absolute; top: 10px; right: 10px; width: 25px; height: 25px; cursor: pointer;">
    <form id="formEditarPerfil" action="/usuario/editar-usuario/<%=usuario.email%>" method="post">
      <div class="mb-3">
        <label class="form-label">Escolher Avatar:</label>
        <div class="avatar-gallery">
          <img src="/avatar1.png" class="avatar" onclick="selectAvatar(this.src)">
          <img src="/avatar2.png" class="avatar" onclick="selectAvatar(this.src)">
          <img src="/avatar3.png" class="avatar" onclick="selectAvatar(this.src)">
          <img src="/avatar4.png" class="avatar" onclick="selectAvatar(this.src)">
          <img src="/avatar5.png" class="avatar" onclick="selectAvatar(this.src)">
          <img src="/avatar6.png" class="avatar" onclick="selectAvatar(this.src)">
          
        </div>
        <input type="hidden" name="selectedAvatar" id="selectedAvatar" value="">
      </div>
      <div class="perfil text-center">
          
        </div><br>
      <legend class="text-center" style="margin-top: -25px; font-size: 30px;"><b><%=usuario.nome%></b></legend>
      <hr style="opacity: 100%;">
      <div class="mb-3">
          <label class="form-label">Nome:</label>
          <input name="nome" type="text" class="form-control" id="nome" aria-describedby="emailHelp">
        </div>
      <div class="mb-3">
          <label  class="form-label">Email:</label>
          <input name="email" type="email" class="form-control" id="email" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label  class="form-label">Senha:</label>
          <input name="senha" type="password" class="form-control" id="senha">
        </div>
        <div class="d-grid gap-2 col-12 mx-auto">
          <button class="btn btn-warning" type="submit" id="salvarUsuario" style="color: #4d3601; --bs-btn-hover-bg: #A57300;">
            <b>SALVAR</b></button>
        </div>
        <br></form>
        

        <p class="text-center" id="excluir"  style="color: #ccf03b; cursor: pointer;">
          <button id="excluirUsuario" type="submit" class="btn btn-danger delete-btn">
              Excluir
          </button>
      </p>
      </form>
  </div>
</div>

<script>

  function goBack() {
      window.history.back();
    }

   
  
  function selectAvatar(src) {

    document.getElementById('selectedAvatar').value = src;

    const avatars = document.querySelectorAll('.avatar');
    avatars.forEach(avatar => avatar.style.border = 'none');

    const selectedAvatar = document.querySelector(`.avatar[src="${src}"]`);
    selectedAvatar.style.border = '2px solid #ccf03b'; 
}


  document.getElementById('fecharJanela').addEventListener('click', function() {
    document.getElementById('overlayUsuario').style.display = 'none';
  });

  document.getElementById('usuario').addEventListener('click', function() {
    document.getElementById('overlayEditarUsuario').style.display = 'flex';
    document.getElementById('overlayUsuario').style.display = 'none';
  });

  document.querySelector('.sair').addEventListener('click', function() {
    document.getElementById('overlayUsuario').style.display = 'none';
  });

  document.getElementById('excluir').addEventListener('click', function() {
    document.getElementById('overlay3').style.display = 'flex';
  });
  document.getElementById('fechar').addEventListener('click', function() {
    document.getElementById('overlayUsuario').style.display = 'none';
    document.getElementById('overlayEditarUsuario').style.display = 'none';
  });

  document.getElementById('openFormButton').addEventListener('click', function() {
    document.getElementById('overlayUsuario').style.display = 'flex';
  });

  function showOverlay() {
    document.getElementById('overlay').style.display = 'flex';
  }

  function hideOverlay() {
    document.getElementById('overlay').style.display = 'none';
  }

  document.getElementById('criarcampeonato').addEventListener('click', showOverlay);
  document.getElementById('janelafechar').addEventListener('click', hideOverlay);

  document.getElementById('excluirUsuario').addEventListener('click', function () {
  var usuarioId = '<%=usuario._id%>';
  
  var xhr = new XMLHttpRequest();
  xhr.open('DELETE', 'usuario/' + usuarioId, true);

  xhr.onload = function () {
    if (xhr.status === 200) {
      console.log('Usuário excluído com sucesso.');
    } else {
      console.error('Erro ao excluir usuário:', xhr.statusText);
    }
  };

  xhr.onerror = function () {
    console.error('Erro de rede ao excluir usuário.');
  };

  xhr.send();
});


</script>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>


</body>

</html>