<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Arena Torneios</title>
  <link rel="shortcut icon" href="/logo.png">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body style="background-color: #0d0d26;">
  <nav class="navbar navbar-expand-lg" style="background-color: #0c0c21;">
    <div class="container-fluid">
      <a class="navbar-brand" style="margin-left: 15px;" href="/campeonato">
        <img src="/logo.png" alt="Logo" width="68" height="71" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
        aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        
        <div class="grid gap-3">
          <span class="navbar-text">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item text-light" style="margin-left: 1473px;">
              </li>
              <a href="/campeonato"><span style="color: #ccf03b;"> Meus Campeonatos</span>
              </a> >
            </ul>
          
              
              <svg width="62" height="62" style="margin-left: 1650px; margin-top: -40px;" >
                 < <ellipse cx="31" cy="31" rx="31" ry="31" style="fill: Green;"  />>
              </svg>
              
         
          </span>
        </div>
      </div>
    </div>
  </nav>
  <form action="" style="text-align: center; margin-top: 40px; margin-right: 190px ; margin-left: 50px;">
    <a href=""><img src="/lupa.png" alt=""></a>
    <label for="search"></label>
    <input type="search" id="search" name="search" style="width: 950px; height: 60px; border-radius: 10px; margin: -1px;" >
    
  </form>
  <div class="container-fluid d-flex flex-wrap justify-content-center my-4">
    <body>
      <nav class="navbar">
        <div style="left: 200px; margin-top: -695px;">
          <button style="border: none; background: none;">
            <a href="/time/<%=time._id%>"><img src="/botaovoltar.png" alt="Ícone do Figma"></a>
          </button>
        </div>
          <div>
            <button id="criarJogador" style="border: none; background: none; position: fixed ; right: 380px;  margin-top: -388px;">
              <img src="/botao+.png" alt="Ícone Figma" style="height: 65px; width: 117px;">
            </button>
          </div>
      </nav>
      <div class="retangulo1" style="width: 1110px; height: 600px; padding: 10px; background-color: #19192C; justify-content: center; align-items: center; ">
        <h1 style="color: white; background-color: #2C2C4A; width: 1110px; margin: -10px; height: 55px;">
          <span style="color: white; margin-left: 120px; font-size: 19px ;">Jogador</span>
          <span style="color: white; margin-left:380px; font-size: 19px">Nome</span>
        </h1>
        <% if (time.jogadores.length> 0) { %>
          <% time.jogadores.forEach((jogador, i)=> { %>
<br>
            <div class="row" style="background-color: #1e1e38; padding: 10px; margin-right:-1px; right: -1px; margin-left: -10px; margin-right: -10px; margin-bottom: solid 0.8px #fff;">
              <div class="col-md-3" style="color: white; text-align: center;">
                <%= i+1 %>
              </div>
              <div class="col">
                
                  <p style="color: #ffff; text-align: center;"> <%= jogador.nome %></p>
                
              </div>
              <div class="col-md-1">
                
                  <button onclick="mostrarFormularioEdicao('<%= jogador._id %>', '<%= jogador.nome %>')" type="button" class="btn btn-warning">
                    Editar
                  </button>
                
                </div>
                <div class="col-md-1">
                  <form method="POST" action="/jogador/<%=jogador.id%>?_method=DELETE"
                    onsubmit="return confirm('Tem certeza que deseja excluir o jogador?');">
                    <button type="submit" class="btn btn-danger">
                      Excluir
                    </button>
                  </form>
                
                </div>
                <% }); %>
              <% } else { %>
              <center>  <p style="color: white; font-size: 24px; margin-top: 250px;">Ainda não há jogadores</p></center>
                <% } %>
         </div>
      
              <div id="overlay" style="display: none; margin-top: 50px; width: 500px; height: 400px; background-color: #161642; padding: 40px; position: absolute;">
        <div class="container text-light position-relative">
          <img id="janelafechar" src="/x.png" alt="Fechar" style="position: absolute; top: 10px; right: 10px; width: 25px; height: 25px; cursor: pointer;">
          <div class="perfil d-flex align-items-center ">
            <img src="/trofeubranco.png" alt="troféu">
            <h1 class="mb-0 ms-3">Novo Jogador</h1>
          </div><br>
          <hr style="opacity: 100%;">
          <div class="container">
            <div class="row ">
              <div class="col">
                <form  id="formAdicionarJogador" action="/jogador/criar-jogador/<%=time._id%>" method="post">
                  <div class="mb-3">
                    <input type="hidden" name="timeId" value="<%= time._id %>">
                    <label class="form-label">Nome:</label>
                    <input name="nome" id="nome" type="text" class="form-control" aria-describedby="emailHelp" required>
                  </div>
                
              </div>
              <div class="d-grid gap-2 col-12 mx-auto">
                <button class="btn btn-warning" type="submit" id="timesad"
                  style="color: #4d3601; --bs-btn-hover-bg: #A57300;">
                  <b>ADICIONAR</b></button>
               
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>


      <div id="overlayAtualizar" style="display: none;">
        <div class="container text-light col-lg-3 position-relative" style=" width: 500px; height: 380px; background-color: #161642; padding: 70px;">
          <img id="janelaAtualizarFechar" src="/x.png" alt="Fechar" style="position: absolute; top: 10px; right: 10px; width: 25px; height: 25px; cursor: pointer;">
          <div class="perfil d-flex align-items-center ">
            <img src="/trofeubranco.png" alt="troféu">
            <h1 class="mb-0 ms-3">Editar Jogador:</h1>
          </div><br>
          <hr style="opacity: 100%;">
          <div class="container">
            <div class="row ">
              <div class="col">
                <form  id="formEditarJogador" method="post">
                  <div class="mb-3">
                    <label class="form-label">Nome:</label>
                    <input value=" " name="novoNome" id="novoNome" type="text" class="form-control" aria-describedby="emailHelp" required>
                  </div>
                
              </div>
              <div class="d-grid gap-2 col-12 mx-auto">
                <button class="btn btn-warning" type="submit" id="timesad"
                  style="color: #4d3601; --bs-btn-hover-bg: #A57300;">
                  <b>ATUALIZAR</b></button>
              </div>
            </div>
          </form>
          </div>
        </div>
      </div>

      
</div>


</body>

<script>


  function showOverlay() {
    document.getElementById('overlay').style.display = 'flex';
    }
  
  function hideOverlay() {
    document.getElementById('overlay').style.display = 'none';
  }

  function fecharAtualizar() {
    document.getElementById('overlayAtualizar').style.display = 'none';
  }
  
  function mostrarFormularioEdicao(jogadorId, jogadorNome) {
    document.getElementById('formEditarJogador').action = `/jogador/${jogadorId}?_method=PUT`;
    document.getElementById('overlayAtualizar').style.display = 'flex';
  }

  document.getElementById('criarJogador').addEventListener('click', showOverlay);
  document.getElementById('janelafechar').addEventListener('click', hideOverlay);
  document.getElementById('janelaAtualizarFechar').addEventListener('click', fecharAtualizar)
  
  function goBack() {
    window.history.back();
  }
  </script>

</body>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>